html,body{margin:0;padding:0}
body{font: 90% arial,sans-serif;text-align:center}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color:#000000;}

div#header
{ 
 width:510px
 color:rgb(255,255,255);
 background-color:rgb(50, 74, 102);
}

div#header h1
{
 height:50px;
 color:rgb(255,255,255);
 background-color: rgb(100, 90, 90);
 line-height:60px;
 margin-top:50;
 margin-bottom:0;
 padding-left:10px;
 border-bottom: 1px solid rgb(221, 221, 221);
 -webkit-box-shadow: 0 0 2px #222;
}
#nav {
	padding-top:3px;
	height:22px;
        margin-top:0;
	
        padding-left:15px;
	background-color:#EEE;
	border-bottom:1px solid #DDD;	
-webkit-box-shadow: 0 0 0px #222;
-moz-box-shadow: 0 0 10px #222;
}


div#container
{
 margin-top: 10px;
 text-align:left;
}
#container {
 box-shadow: 0 0 0px #222;
 -webkit-box-shadow: 0 0 2px #222;
 -moz-box-shadow: 0 0 1px #222;
 -moz-border-radius:0px;
	-webkit-border-radius:0px;

	margin:10px 0;

}

div#content p
{
 line-height:1.4;
}
div#content h1
{

 margin-top: 0px;
 color: rgb(80, 80, 80);
 font-weight: normal;
}

div#content h2
{

 width:590px;
 height:255px;
}

div#navigation
{
 background:#F6F0E0;
}
div#navigation ul
{
 margin:15px 0;
 padding:0;
 list-style-type:none;
}

div#navigation li
{
 margin-bottom:5px;
}

div#extra
{
 background:#CCC8B3;
}

div#footer
{
 background-color:rgb(90, 90, 90);
}
div#footer p
{ 
 margin:0;
 padding:5px 10px;
}

div#container
{
 width:900px;
 margin:0 auto;
 margin-bottom:0px;
}

div#content
{
 float:left;
 width:900px;
}
div#navigation
{
 float:right;
 width:200px;
}

div#extra
{
 float:left;
 width:500px;
}

div#footer
{
 clear:both;
 width:900px;
 -webkit-box-shadow: 0 0 1px #222;
}
